<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tab1</key>
	<dict>
		<key>name</key>
		<string>C language</string>
		<key>viewTitle</key>
		<string>Data Structures, Algorithms in C</string>
		<key>logo</key>
		<string>CLanguage</string>
		<key>topics</key>
		<array>
			<string>General</string>
			<string>List</string>
			<string>Stack</string>
			<string>Queue</string>
			<string>String</string>
			<string>Tree</string>
			<string>Graph</string>
			<string>Search</string>
			<string>Sort</string>
		</array>
		<key>descriptions</key>
		<array>
			<string>logical structure, physical structure</string>
			<string>sequential list, linked list, Josephus problem</string>
			<string>array stack,linked stack, stack applications</string>
			<string>array queue, linked queue,circular queue, queue applications</string>
			<string>string operations, Brute Force, KMP algorithm</string>
			<string>binary tree storage and operations, traversing, threaded binary tree</string>
			<string>graph storage, Depth_First_Search, Breadth_First_Search</string>
			<string>{sequential,binary,interpolation,fibonacci...} search</string>
			<string>{bubble,selection,shell,heap,merging,quick...} sort</string>
		</array>
	</dict>
	<key>tab2</key>
	<dict>
		<key>name</key>
		<string>Data Structures &amp; Algorithms</string>
		<key>logo</key>
		<string>DataStructures</string>
		<key>viewTitle</key>
		<string>Data Structures, Algorithms in C</string>
		<key>topics</key>
		<array>
			<string>General</string>
			<string>List</string>
			<string>Stack</string>
			<string>Queue</string>
			<string>String</string>
			<string>Tree</string>
			<string>Graph</string>
			<string>Search</string>
			<string>Sort</string>
		</array>
		<key>descriptions</key>
		<array>
			<string>logical structure, physical structure</string>
			<string>sequential list, linked list, Josephus problem</string>
			<string>array stack,linked stack, stack applications</string>
			<string>array queue, linked queue,circular queue, queue applications</string>
			<string>string operations, Brute Force, KMP algorithm</string>
			<string>binary tree storage and operations, traversing, threaded binary tree</string>
			<string>graph storage, Depth_First_Search, Breadth_First_Search</string>
			<string>{sequential,binary,interpolation,fibonacci...} search</string>
			<string>{bubble,selection,shell,heap,merging,quick...} sort</string>
		</array>
	</dict>
</dict>
</plist>
